body {
  background-color: #92410e93;
  font-family: "New Tegomin", serif;
  padding-top: 1rem;
  text-align: center;
  width: 100%;
  max-width: 600px;
  margin: auto;
  letter-spacing: 0.1rem;
}

h1 {
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 1.5rem;
  padding: 1rem;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255, 0.5);
}

.output {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem;
  border-radius: 1rem;
  margin: 1rem;
  background-color: rgb(255, 255, 255, 0.5);
}

.section {
  list-style: none;
  display: inline-block;
  padding: 1rem;
  justify-content: center;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.section-item {
  display: inline-block;
  padding: 1rem 1.5rem;
  cursor: pointer;
  font-size: 2.5rem;
}
